/*form*/
*{
  box-sizing: border-box;
}

body{
  background-color: #d4c7b0 ;
}

.container{
  width: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height: 100vh;
  background-color:#fff;
  box-shadow: 5px 10px 38px #rgba(0,0,0,0.2);  
}

/*.hesding{
width: 80px;
}*/

.heading h1{
  font-size: 2rem;
  font-weight: 400;
  color: #3f4238 ;
}

input{
  outline: none;
  border: none;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrap2{
  width: 80%;
  position: relative;
  border-bottom: 2px solid #b2b2b2;
  margin-bottom: 13px;
}

.wrap{
  display: flex;
  width: 80%;
  justify-content: center;
}

.f1{
  border-bottom: 2px solid #b2b2b2;
  width: 40%;
  position: relative;
}

.f2{
  border-bottom: 2px solid #b2b2b2;
  margin-left: auto;
  width: 50%;
  position: relative;
}

label{
  font-size: 15px;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  width: 80%;
  min-height: 25px;
  border-bottom: none;
  padding: 15px 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 2px;
}

input{
  display: block;
  width: 100%;
  font-size: 18px;
  background: transparent;
  font-weight: 500;
  padding: 10px 0px;
}

legend {
  padding: 10px;
  background: #d4c7b0;
  color: black;
  display: flex;  
  margin-top: 20px;
  justify-content: center;
}

.s label{
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  width: 25%;
  min-height: 5px;
  border-bottom: none;
  padding: 15px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 2px;
  float: right;
}

.s input{
  display: block;
  width: 5%;
  font-size: 18px;
  background: transparent;
  padding: 10px 0px;
}

.form-element {
  position: relative;
  margin-top: 1.0rem;
}

.Activitylocation {
  outline: none;
  height: 1.50rem;
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border: 0 solid transparent;
  line-height: 1.5;
  width: 100%;
  color: #333;
  box-shadow: none;
  opacity: 0.001;
  transition: opacity 0.28s ease;
  will-change: opacity;
}
/*
.Activitylocation:-ms-input-placeholder {
  color: #a6a6a6;
  transform: scale(0.9);
  transform-origin: left top;
}

.Activitylocation::placeholder {
  color: #a6a6a6;
  transform: scale(0.9);
  transform-origin: left top;
}

.fActivitylocation:focus ~ ::after {
  transform: rotateY(0deg);
}

.Activitylocation:focus ~  {
  color: #337ab7;
}
*/
.Activitylocation.-hasvalue,
.Activitylocation:focus {
  opacity: 1;
}

.Activitylocation.-hasvalue ~ ,
.Activitylocation:focus ~ {
  transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
  cursor: pointer;
  pointer-events: auto;
}
/*
input.Activitylocation:not(:placeholder-shown),
textarea.Activitylocation:not(:placeholder-shown) {
  opacity: 1;
}

input.Activitylocation:not(:placeholder-shown) ~ ,
textarea.Activitylocation:not(:placeholder-shown) ~  {
  transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
  cursor: pointer;
  pointer-events: auto;
}*/

textarea.Activitylocation {
  height: auto;
  min-height: 3rem;
}

select.Activitylocation {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.form-select-placeholder {
  color: #a6a6a6;
  display: none;
}

.form-select::before {
  content: "";
  position: absolute;
  height: 0.5em;
  width: 0.5em;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  display: block;
  left:  0.5em;
  bottom: 0;
  transition: transform 0.28s ease;
  transform: translateY(-100%) rotateX(0deg) rotate(45deg);
  will-change: transform;
}

.form-select select:focus ~ ::before {
  transform: translateY(-50%) rotateX(180deg) rotate(45deg);
}

.Activitylocation[type="number"] {
  -moz-appearance: textfield;
}

.Activitylocation[type="number"]::-webkit-outer-spin-button,
.Activitylocation[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn{
  margin-top: 20px;
  width: 200px;
  height: 50px;
  border-radius: 40px;
  outline: none;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  background: #d9d9d9;
  box-shadow: 8px 10px 30px #rgba(0,0,0,0.2);
  transform: 0.4s;
}

.btn:hover{
  background: #d4c7b0;
  color: #000000 ;
}

.focus-input{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input::before{
  content: "";
  display:block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.6s ;
  background: #a5a58d;
}

input:focus + .focus-input::before{
  width: 100%;
}

.has-val.input + .focus-input::before{
  width: 100%;
}

.focus-input2{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input2::before{
  content: "";
  display:block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.6s ;
  background: #a5a58d;
}

input:focus + .focus-input2::before{
  width: 100%;
}

.has-val.input2 + .focus-input2::before{
  width: 100%;
}

@media(max-width: 1250px){
.container{
  width: 90%;
  }
}

@media(max-width: 768px){
  .container{
    width: 100%;
    height: 100vh !important;
    position: static;
    transform: translate(0,0);
  }
}