/*The main bar*/

.topbar {
  overflow: hidden;
  padding: 1rem!important;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
  margin-bottom: 3rem!important;
  background-color: #fff!important;
  border-radius: .25rem!important;
}

.topbar a {
  float: right;
  color: #999999;
  text-align: center;
  padding:16px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topbar a.home {
  color: white;
  font-weight: bold;
  background-color:  #D7B97D;
  border-radius:20px;
}

.topbar a.logout {
  float: left;
  color: #999999;
  text-align: center;
  padding:16px 16px;
  text-decoration: none;
  font-size: 20px;
}


/*sign in*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #f1f1f1;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 5px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

img.avatar {
  width: 30%;
  border-radius: 30%;
}

.container {
  padding: 10px;
}

button{
  width:auto;
  background-color: #d4c7b0;
  border: none;
  float: right;
  color: #3f4238;
  text-align: center;
  padding:18.9px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Set a style for all buttons */
button.but1 {
  background-color: #d9d9d9;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover.but1 {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #dd2d4a;
  color: black;
}

button:hover.cancelbtn{
  opacity: 0.8;
} 

a.regbtn{
  width: auto;
  margin-right:5px;
  padding: 10.5px 18px;
  background-color: #D7B97D;
  color: black;
}

button:hover.regbtn{
  opacity: 0.8;
}

a:hover.regbtn{
  opacity: 0.8;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  box-sizing: border-box;  
  width: 100% ;
  padding: 12px 5px;
  margin: 5px 0px;
  display: inline-block;
  border: 1px solid #ccc;
}


/*bar 1*/

.ppp ul{
  list-style-type: none;
  margin: 0px;
  padding: 50px;
  overflow: hidden;
  background-color:#ffffff;
  display: flex;
  justify-content: center;
}

li a, .dropbtn {
  display: inline-block;
  color: #3f4238;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
}


/*comment*/

.comment_box{
  background-color: #fff;
  width: 845px; 
  padding:5px;
  margin-bottom: 4px;
  text-align: right;
  margin-left:200px;
  border-style: solid;
  border-radius:100px;
  margin-top:50px;
}

.comment_box p {
  font-family: arial; 
  font-size: 20px;
  line-height: 16px;
  color: #282828;
  font-weight: 100;
  margin-right:100px;  
}

.comment_box h3 {
  font-family: arial; 
  font-size: 14px;
  line-height: 16px;
  color: #00ace6;
  font-weight: 150;
  margin-right:70px;
  font-weight: bold;
}

.butcom {
  width:auto;
  background-color: #d9d9d9;
  border: none;
  float: right;
  color: #3f4238;
  text-align: center;
  padding: 20px 30px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  margin-right:9px;
  margin-top:40px;
}

textarea{
  padding: 20px 35px;
  float: right;
  margin-top:50px;
  margin-right:12px;
}



/*profile admine*/

.course{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-style: outset;
  border-radius:50px;
}

.course:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cont {
  padding: 30px 100px;
  text-align: center;
}

.sp{
  margin-bottom:30px;
}

td {    
  margin-top: 100px;
  float: left;
  margin-right:9px;
  margin-left:80px;
}

.cont h1 {
  color:#cc8800;
  text-align: center;
}

.cont p {
  font-weight: bold;
}

upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;

}

.upload-btn-wrapper a {
  text-decoration: none;
  display: block;
  position: relative;
  overflow: hidden;
  display: inline-block;

}

.btto {
  border: 2px solid ;
  color: white;
  background-color:#D7B97D;
  padding:20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  margin-left:20px;
  margin-top:20px;
}


.btto:hover {
  background-color:#DDDDDD;
  color: #494949 !important;
  border-radius: 50px;
  border-color: #DDDDDD !important;
  transition: all 0.3s ease 0s;
}

.wrap{
  display: flex;
  width: 80%;
  justify-content: center;
}
